body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:linear-gradient(135deg,#ffd6ec,#ffeaf5,#fff);
height:100vh;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:#c2185b;
}

.container{
z-index:2;
}

h1{
font-size:60px;
margin-bottom:10px;
animation:aparecer 2s ease;
}

p{
font-size:20px;
margin-bottom:30px;
}

button{
padding:15px 35px;
font-size:18px;
border:none;
border-radius:30px;
background:#ff4fa3;
color:white;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

button:hover{
transform:scale(1.1);
background:#ff2f90;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(-50px);
}
to{
opacity:1;
transform:translateY(0);
}
}


/* flores */

.flower{
position:absolute;
top:-50px;
font-size:25px;
animation:fall linear infinite;
opacity:0.9;
}

@keyframes fall{
to{
transform:translateY(110vh) rotate(360deg);
}
}


/* carta */

.carta{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0);
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);

width:650px;
max-width:85%;

transition:0.5s;
z-index:5;
text-align:center;
}

.carta p{
line-height:1.6;
margin-bottom:25px;
}

.carta.activa{
transform:translate(-50%,-50%) scale(1);
}

.final{
margin-top:10px;
font-size:24px;
color:#e91e63;
}

.cerrar{
margin-top:20px;
}


/* corazones */

.corazon{
position:absolute;
font-size:22px;
color:#ff2f90;
opacity:0;
animation:corazon 4s infinite;
}

@keyframes corazon{
0%{
opacity:0;
transform:translateY(0) scale(0.5);
}
50%{
opacity:1;
}
100%{
opacity:0;
transform:translateY(-200px) scale(1.5);
}
}